@import url(https://fonts.googleapis.com/css?family=Roboto);
/* colors */
/* fonts */
.hide {
  visibility: hidden;
}
/*  
    ------------
    MOBILE FIRST
    ------------
*/
/* GENERAL */
body {
  font-family: 'Roboto', sans-serif;
}
ul {
  margin-left: 0!important;
}
/* SECTIONS */
#section0 {
  background-image: url("../img/jpg/bg.jpg");
  background-position: center;
  background-size: cover;
}
#section1,
#section2,
#section3 {
  background: #ffffff;
  color: #202020;
  min-height: 100vh;
}
/* MENU */
.menu {
  background: #202020;
  height: 80px;
  line-height: 40px;
  letter-spacing: 1px;
  width: 100%;
}
.menu ul a li {
  display: inline;
  color: #ffffff !important;
  padding: 15px;
}
.menu .logo {
  float: left;
  width: 214px;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.menu .logo img {
  vertical-align: middle;
  max-height: 50px;
}
/* MENU SMARTPHONE */
.top-menu {
  display: none;
}
ul.dropdown-menu li a {
  color: #ffffff;
}
#primary_nav_wrap {
  display: block;
}
#primary_nav_wrap ul li a img {
  max-width: 50px;
}
#primary_nav_wrap ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
#primary_nav_wrap ul ul {
  display: none;
  position: absolute;
  top: 142%;
  left: 0;
  background: #202020;
  padding: 0;
}
#primary_nav_wrap ul ul ul {
  top: 0;
  left: 100%;
}
#primary_nav_wrap ul li:hover > ul {
  display: block;
}
/*  
    ------------
    1ere section
    ------------
*/
#section0 {
  color: #fff;
  min-height: 100vh;
}
.intro {
  text-align: center;
}
.intro h1 {
  font-size: 2em;
}
.intro p {
  font-size: 1.4em;
}
/* svg */
.scroll-section {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.scroll-section img {
  width: 40%;
}
.bloc-white {
  background: #fff;
  width: 50%;
  display: block;
  padding: 10px;
  margin: 0 auto;
  color: #202020;
  text-transform: uppercase;
  font-size: 0.9em;
}
.bloc-white:hover {
  background: #202020;
  color: #ffffff;
  transition: ease-in 0.2s;
}
/*  
    ---------------------------------------
    2eme section : Formations + Expériences
    ---------------------------------------
*/
#section1 h1 {
  text-align: center;
  font-weight: 200;
  font-size: 4em;
  color: #f44336;
}
#section1 h2 {
  font-weight: 200;
  font-size: 3em;
  color: #f44336;
}
#section1 section {
  margin-bottom: 12%!important;
}
.about-screen {
  display: none;
}
.about-smartphone {
  display: block;
}
.about-title {
  text-align: center;
  margin: 0 auto;
}
.about-img {
  text-align: center;
}
.about-img div {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin-right: 2%;
}
.photoshop {
  background-image: url("../img/svg/photoshop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.photoshop:hover {
  background-image: url("../img/svg/photoshop-hover.svg");
}
.illustrator {
  background-image: url("../img/svg/illustrator.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.illustrator:hover {
  background-image: url("../img/svg/illustrator-hover.svg");
}
.indesign {
  background-image: url("../img/svg/indesign.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.indesign:hover {
  background-image: url("../img/svg/indesign-hover.svg");
}
.github {
  background-image: url("../img/svg/github.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.github:hover {
  background-image: url("../img/svg/github-hover.svg");
}
.html {
  background-image: url("../img/svg/html.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.html:hover {
  background-image: url("../img/svg/html-hover.svg");
}
.css {
  background-image: url("../img/svg/css.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.css:hover {
  background-image: url("../img/svg/css-hover.svg");
}
.js {
  background-image: url("../img/svg/js.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.js:hover {
  background-image: url("../img/svg/js-hover.svg");
}
.php {
  background-image: url("../img/svg/php.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.php:hover {
  background-image: url("../img/svg/php-hover.svg");
}
.after {
  background-image: url("../img/svg/after.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.after:hover {
  background-image: url("../img/svg/after-hover.svg");
}
.audition {
  background-image: url("../img/svg/audition.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.audition:hover {
  background-image: url("../img/svg/audition-hover.svg");
}
.premiere {
  background-image: url("../img/svg/premiere.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.premiere:hover {
  background-image: url("../img/svg/premiere-hover.svg");
}
.sketchup {
  background-image: url("../img/svg/sketchup.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.sketchup:hover {
  background-image: url("../img/svg/sketchup-hover.svg");
}
.work-with h2 {
  text-align: center;
}
.job-img {
  text-align: center;
  margin-top: 5%;
}
.job-img div {
  width: 180px;
  height: 180px;
  display: inline-block;
  margin-right: 2%;
}
.matmut {
  background-image: url("../img/svg/matmut.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.matmut:hover {
  background-image: url("../img/svg/matmut-hover.svg");
}
.comite-elbeuf {
  background-image: url("../img/jpg/comite-jumelage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/*  
    ----------------------
    3eme section : Galerie
    ----------------------
*/
/*Content-filter*/
.cd-tab-filter-wrapper {
  background: transparent;
}
.cd-tab-filter a {
  text-transform: none!important;
}
.cd-tab-filter a.selected {
  background: transparent;
  color: #202020;
  box-shadow: inset 0 -5px 0 #ffffff;
}
/* 
-------------------------
Media queries pour ecrans
--------------------------
*/
@media screen and (min-width: 1024px) {
  /* ---------- 
        GENERAL 
    ------------- */
  a {
    color: #ffffff !important;
  }
  a:hover {
    color: #202020 !important;
  }
  /* ---------- 
        MENU 
    ------------- */
  .menu .logo {
    float: left;
    width: 214px;
    height: 80px;
  }
  .top-menu {
    float: left;
    height: 80px;
  }
  .top-menu ul a li {
    line-height: 80px;
  }
  .top-menu ul a li:hover {
    border-bottom: solid #fff 2px;
  }
  .top-menu ul a:hover {
    color: aquamarine!important;
  }
  .social-media {
    float: right;
    height: 80px;
    margin-right: 150px;
    line-height: 80px;
    text-align: center;
  }
  .social-media a div {
    display: inline-block;
    line-height: 80px;
    text-align: center;
  }
  .linkedin {
    width: 80px;
    height: 80px;
    background-image: url("../img/svg/linkedin.svg");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
  }
  .linkedin:hover {
    background-image: url("../img/svg/linkedin-hover.svg");
  }
  .facebook {
    width: 80px;
    height: 80px;
    background-image: url("../img/svg/facebook.svg");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
  }
  .facebook:hover {
    background-image: url("../img/svg/facebook-hover.svg");
  }
  .twitter {
    width: 80px;
    height: 80px;
    background-image: url("../img/svg/twitter.svg");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
  }
  .twitter:hover {
    background-image: url("../img/svg/twitter-hover.svg");
  }
  #primary_nav_wrap {
    display: none;
  }
  .top-menu {
    display: block;
  }
  .bloc-white {
    background: #fff;
    width: 60%;
    display: block;
    padding: 15px;
    margin: 0 auto;
    color: #202020;
    text-transform: uppercase;
    font-size: 1em;
  }
  /* ---------- 
        SECTION 1 
    ------------- */
  .scroll-section img {
    width: 15%;
  }
  .bloc-white {
    width: 20%;
  }
  .intro h1 {
    font-size: 5em;
    font-weight: 200!important;
  }
  /* ---------- 
        SECTION 2 
    ------------- */
  .about-title {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
  .about-screen {
    display: block;
  }
  .about-smartphone {
    display: none;
  }
  /* ---------- 
    CONTENT-FILTER 
    ------------- */
  .cd-tab-filter-wrapper {
    background: #f44336;
  }
}
@media screen and (min-width: 1600px) {
  .intro {
    font-size: 2em;
    margin-bottom: 10%;
  }
  .scroll-section img {
    width: 20%;
  }
  .bloc-white {
    width: 20%;
    font-size: 1.6em;
  }
}
/* 
-------------------------
Media queries pour autres tailles
--------------------------
*/
@media screen and (max-width: 320px) {
  .intro img {
    max-width: 150px;
  }
}
